// not working, have to ask carlos about it

//- extends log-in.pug
//- extends sign-up.pug
//- block footer

    

    footer
        .footer__links__container
            a(class="footer__link" href="https://github.com/mkellydevv") Michael Kelly
            a(class="footer__link" href="https://github.com/crespohector") Hector Crespo
            a(class="footer__link" href="https://github.com/aMoss5150") Andrew Moss
            a(class="footer__link" href="https://github.com/earlwoo") Earl Woo
            a(class="footer__link" href="https://github.com/aMoss5150/Remember-The-Whey") Project Github
