extends layout
include tasks.pug
include lists.pug
include summary.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous")
  link(rel="stylesheet" href="/stylesheets/reset.css")
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet", href="/stylesheets/tasks.css")
  link(rel="stylesheet" href="/stylesheets/nav.css")
  //- add page specific js
  script(src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js")
  script(src="/javascripts/index.js" type="module" defer)
  script(src="/javascripts/tasks.js" type="module" defer)
  script(src="/javascripts/slideout.js" type="module" defer)
  script(src="/javascripts/navbar.js" type="module" defer)

block content
  .navbar__container
    span(class="navbar__open--slide")
      a(href="" class="")
        svg(class="hamburger__icon" viewbox="0 0 100 60" width="40" height="40")
          rect(width="80" height="12" stroke="#fff")
          rect(y="30" width="80" height="12" stroke="#fff")
          rect(y="60" width="80" height="12" stroke="#fff")
    .navbar__search_container
      img(class="search-icon" src="/searchicon.png")
      input(class="navbar__search_input" name="search" type="text" required)
      input(type="submit" class="search__submit" value="Find")
    .right__navbox
      form(action="/users/logout" method="post")
        button(type="submit" class="nav__logout_btn") Logout

  .column__container
    div(class="list__column show")
      +lists(lists, csrfToken)
      div(id="block_tasks") My Tasks:
        ul(id="tasks")
    .task__column
      +tasks
    .summary__column
      +summary
      .title__container All Tasks
      .tasks__container 0
        .tasks__container-title Tasks
      .completed__container 0
        .completed__container-title Completed
      //- .overdue__container 0
      //-   .overdue__container-title Overdue

    .summary__slideout
      form(class="form__flex hide")
        i(class="fas fa-times slideout__closebtn")
        i(class="fas fa-print")
        span(class="info__tooltip") &#8505;
        input(class="update__task" placeholder="taskname" type="text")
        label(id="listLabel") list
        select(class="update__list" placeholder="currentlist" type="text")
          option today
          option tomorrow
        label(id="repsLabel") reps
        input(class="update__reps" placeholder="currentreps" type="text")
        label(id="setsLabel") sets
        input(class="update__sets" placeholder="currentsets" type="text")
        label(id="durationLabel") duration
        input(class="update__duration" placeholder="currentduration" type="text")
        label(id="notesLabel") notes
        textarea(class="update__notes" placeholder="Add a note...")
