extends layout
include tasks.pug
include lists.pug
include summary.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/nav.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  .navbar__container NAV
    span(class="hamburger")
      a(href="")
        svg(class="hamburger__icon")
          
    .navbar__search_container
      img(class="search-icon" src="/searchicon.png")
      input(class="navbar__search_input" name="search" type="text" required)
      input(type="submit" class="search__submit" value="Find")
    .right__navbox
      form(action="/users/logout" method="post")
        button(type="submit" class="nav__logout_btn") Logout
  +lists
  +tasks
  +summary
