extends layout
include tasks.pug
include lists.pug
include summary.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  .navbar__row NAV
    .right__navbox
      button logout
    .search__navbox
      input(placeholder="Search")
  .column__container
    .list__column
      +lists
    .task__column  
      +tasks
    .summary__column
      +summary
      .title__container All Tasks
      .tasks__container 0
        .title__container-title Tasks
      .overdue__container 0
        .overdue__container-title Overdue
      .completed__container 0
        .completed__container-title Completed
      .footer footer

