doctype html
html
  head
      block head
        title="Remember the Whey"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        //- meta(name="viewport" content="width=device-width")
        meta(charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0")
  body
    block content
