
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/lists.css")
  link(rel="stylesheet" href="/stylesheets/listsModals.css")
  //- add page specific js
  script(src="/javascripts/lists.js" type="module")

mixin lists()
    div(class="block_lists") My Lists:
        div(id="lists" class="list-section")

    button(id="btn-create-list") Create New List
    div(id="myModal" class='modal')
        div(class="modal-content")
            form(class="list-form")
                input(id="csurf" type="hidden" name="_csrf")
                span(class="close") X
                p(class="add-list") Add a list
                label(class="list-label" for="list-name") Please enter a new list name:
                br
                input(type="text" name="name" class="list-name--input" required)
                br
                input(type="submit" value="Add" class="list-add")
                input(type="button" value="Cancel" class="list-cancel")

    br
