doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='/stylesheets/login-signup.css')
        title= title
    body
        #main__left
        #main__right
            #btn-div
                button(class="btn_signup")
                    a(href="/users/sign-up") Sign up
            #form-div
                #form-login
                    if errors
                        ul
                            each error in errors
                                div(class="error-msg")= error
                    form(action="/users/log-in" method="post" id="form-header") Been here before? Welcome back!
                        br
                        input(type="hidden" name="_csrf" value=csrfToken)
                        br
                        input(class="signup-input" name="email" placeholder="E-mail" required)
                        br
                        input(class="signup-input" name="password" placeholder="Password" type="password" required)
                        br
                        button(type="submit" id="signup-button") Log in
                    form(class="demo__btn" action="/users/log-in" method="post")
                        input(type="hidden" name="_csrf" value=csrfToken)
                        input(type="hidden" name="email" value="demo@aa.com")
                        input(type="hidden" name="password" value="strongpassword" )
                        button(type="submit") Demo User




                            //- form(action="/users/logout" method="post")
                            //-     button(type="submit") Log out
                            //- for log out button.
