doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/login-signup.css')
        script(src="/javascripts/log-in.js" type="module")
        title= title
    body
        #main__left
            #logo
                div(class="logoText")
                    span(class="topText") Remember
                    span(class="bottomText") the
                div(class="logoImg")
                    img(src="/whey.png" class="whey_logo")
            #main__quotes
                p(class="quote__display")
                p(class="speaker__display")
        #main__right
            #transfer__btn_container
                a(href="/users/sign-up")
                    button(class="transfer__btn") Sign up
            #main__form
                if errors
                    ul
                        each error in errors
                            div(class="error__msg")= error
                form(action="/users/log-in" method="post" id="form__header") Been here before? Welcome back!
                    br
                    input(type="hidden" name="_csrf" value=csrfToken)
                    br
                    input(class="form__input" name="email" placeholder="E-mail" required)

                    input(class="form__input" name="password" placeholder="Password" type="password" required)

                    button(type="submit" id="form__btn") Log in
                    br
                .demo__btn_container
                    form(action="/users/log-in" method="post")
                        input(type="hidden" name="_csrf" value=csrfToken)
                        input(type="hidden" name="email" value="demo@aa.com")
                        input(type="hidden" name="password" value="strongpassword" )
                        button(type="submit" class="demo__btn") Demo User
            footer
                .footer__links_container
                    a(class="footer__link" href="https://github.com/mkellydevv") Michael Kelly
                    a(class="footer__link" href="https://github.com/crespohector") Hector Crespo
                    a(class="footer__link" href="https://github.com/aMoss5150") Andrew Moss
                    a(class="footer__link" href="https://github.com/earlwoo") Earl Woo
                    a(class="footer__link" href="https://github.com/aMoss5150/Remember-The-Whey") Project Github

                            //- form(action="/users/logout" method="post")
                            //-     button(type="submit") Log out
                            //- for log out button.
