doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='/stylesheets/login-signup.css')
        script(src="/javascripts/log-in.js" type="module")
        title= title
    body
        #main__left
            #main__quotes
                p(class="quote__display")
                p(class="speaker__display")
        #main__right
            #transfer__btn__container
                a(href="/users/sign-up")
                    button(class="transfer__btn") Sign up
            #main__form
                if errors
                    ul
                        each error in errors
                            div(class="error__msg")= error
                form(action="/users/log-in" method="post" id="form__header") Been here before? Welcome back!
                    br
                    input(type="hidden" name="_csrf" value=csrfToken)
                    br
                    input(class="form__input" name="email" placeholder="E-mail" required)

                    input(class="form__input" name="password" placeholder="Password" type="password" required)

                    button(type="submit" id="form__btn") Log in
                    br
                .demo__btn__container
                    form(action="/users/log-in" method="post")
                        input(type="hidden" name="_csrf" value=csrfToken)
                        input(type="hidden" name="email" value="demo@aa.com")
                        input(type="hidden" name="password" value="strongpassword" )
                        button(type="submit" class="demo__btn") Demo User




                            //- form(action="/users/logout" method="post")
                            //-     button(type="submit") Log out
                            //- for log out button.
