doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
    body
        #left-side-signup


        #sign-up-form
            button
                a(href="/users/log-in") Log in

            if errors
                ul
                    each error in errors
                     li error.msg
            form(action="/user/sign-up" method="post" id="form-header") Sign up for free.
                input(type="hidden" name="_csrf" value=csrfToken)
                br
                input(class="signup-input" name="firstName" placeholder="First Name" required)
                br
                input(class="signup-input" name="lastName" placeholder="Last Name" required)
                br
                input(class="signup-input" name="email" placeholder="E-mail" required)
                br
                input(class="signup-input" name="password" placeholder="Password" type="password" required)
                br
                input(class="signup-input" name="confirmPassword", placeholder="Confirm Password" type="password" required)
                br
                button(type="submit" id="signup-button") Sign up!
