
mixin tasks
    section(id='tasks-section')
        div(id='tasks-section__utils')
            div(id='utils__incomplete' class='tab') Incomplete
            div(id='utils__completed' class='tab') Completed
            div(id='utils__sort')
                i(class='fas fa-cog')
                div(class='dropdown')
                    i(class="fas fa-caret-down")
                div(class='dropdown-content')
                    a(id='utils_name' class='selector_opt') Sort by name
                    a(id='utils_date' class='selector_opt') Sort by date
        div(id='tasks-section__toolbar')
            div(class='button-group')
                div(id='toolbar__selector')
                    input(type='checkbox')
                    div(class='dropdown')
                        i(class="fas fa-caret-down")
                    div(class='dropdown-content')
                        a(id='selector_all' class='selector_opt') All
                        a(id='selector_none' class='selector_opt') None
                        hr
                        a(id='selector_today' class='selector_opt') Today
                        a(id='selector_tomorrow' class='selector_opt') Tomorrow
                        a(id='selector_overdue' class='selector_opt') Overdue
            div(id='toolbar_group-2' class='button-group')
                div(id='toolbar__complete' class='tooltip')
                    i(class='fas fa-check')
                    div(class='tooltip-text') Complete
                div(id='toolbar__uncomplete' class='tooltip')
                    i(class='fas fa-undo')
                    div(class='tooltip-text') Uncomplete
                div(id='toolbar__duplicate' class='tooltip')
                    i(class='fas fa-clone')
                    div(class='tooltip-text') Duplicate
                div(id='toolbar__delete' class='tooltip')
                    i(class='fas fa-trash')
                    div(class='tooltip-text') Delete
            div(id='toolbar_group-3' class='button-group')
                div(id='toolbar__date')
                    i(class='fas fa-calendar-alt')
                    div(class='dropdown')
                        i(class="fas fa-caret-down")
                    div(class='dropdown-content')
                div(id='toolbar__list')
                    i(class='fas fa-list')
                    div(class='dropdown')
                        i(class="fas fa-caret-down")
                    div(class='dropdown-content')
                        a(id='c') C
                        a(id='cc') CC
                div(id='toolbar__tag')
                    i(class='fas fa-tag')
                    div(class='dropdown')
                        i(class="fas fa-caret-down")
        form(id='tasks-section__form')
            input(type='hidden' name='_csrf' value=csrfToken)
            label Reps
                input(type='number' name='reps' placeholder='1' required)
            label Sets
                input(type='number' name='sets' placeholder='0')
            label Exercise
                input(type='text' name='name' placeholder='Add an exercise...' required)
            label Duration
                input(type='number' name='duration' placeholder='60')
            button(type='submit') Add
        div(id='tasks-section__tasks-container')
