
mixin tasks
    section(id='tasks-section')
        h2 Tasks
        div(id='tasks-section__toolbar')
            div(id='tasks-section__selector')
                input(type='checkbox')
                div(class='dropdown')
                    i(class="fas fa-caret-down")
                div(class='dropdown-content')
                    a All
                    a None

        form(id='tasks-section__form')
            input(type='hidden' name='_csrf' value=csrfToken)
            label Reps
                input(type='number' name='reps' placeholder='1' required)
            label Sets
                input(type='number' name='sets' placeholder='0')
            label Exercise
                input(type='text' name='name' placeholder='Add an exercise...' required)
            label Duration
                input(type='number' name='duration' placeholder='60')
            button(type='submit') Add
        div(id='tasks-section__tasks-container')
    script(src='javascripts/tasks.js')
