body {
    background-color: #d7e7f5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 1px solid black;
}

/*!NAV*/

/*!COLUMNS and MAIN CONTAINER*/

.column__container {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    /* display: flex; */
    grid-template-areas: "lists tasks summary";
    height: 100%;
}

.list__column {
    grid-area: lists;
    display: flex;
    background-color: #d7e7f5;
    min-width: 200px;
    /* max-width: 300px; */
    /* min-height: 500px; */
    height: 840px;
    padding: 25px;
    border-radius: 3px;
    margin-top: 5px;
}

.task__column {
    overflow-y: hidden;
    margin-top: 5px;
    grid-area: tasks;
    display: flex;
    background-color: white;
    min-width: 200px;
    /* min-height: 100%; */
    /* width: 870px; */
    height: 840px;
    /* height: 100%; */
    padding: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.summary__column {
    margin-top: 5px;
    grid-area: summary;
    display: flex;
    background-color: #e4eef8;
    min-width: 200px;
    /* min-height: 500px; */
    /* width: 850px; */
    height: 840px;
    padding: 25px;
    border-radius: 6px;
}

/*!SLIDEOUT*/

.summary__slideout {
    margin-top: 5px;
    grid-area: summary;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 100;
    left: 0px;
    opacity: 1;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    transition-property: left;
    transition-duration: 2s;
}

/*!TRANSITIONED STATE*/

.hidden__slide {
    margin-top: 5px;
    display: flex;
    position: relative;
    left: 1200px;
    right: 0px;
    background-color: white;
    z-index: 100;
    opacity: 1;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    transition-property: left, right;
    transition-duration: 2s;
}

.shown__slide {
    margin-top: 5px;
    grid-area: summary;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 100;
    left: 0px;
    right: 1200px;
    opacity: 1;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    transition-property: left;
    transition-duration: 2s;
}

.info__tooltip {
    align-self: flex-end;
    border-bottom: none;
    position: relative;
    right: 10px;
    bottom: 15px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 21px;
}

.fa-print {
    align-self: flex-end;
    position: relative;
    /* bottom: 10px; */
    top: 5px;
    left: 6px;
    font-size: 13px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.6)
}

.print__tooltip {}

.fa-times {
    align-self: flex-end;
    position: relative;
    bottom: 10px;
    left: 10px;
    font-size: 11px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.6)
}

/*!summary-slideout--FORM container*/

.form__flex {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    height: auto;
    width: 100%;
    /* justify-content: center; */
    /* align-items: flex-start; */
}

/*!FORM FIELDS / ELEMENTS*/

.update__task {
    font-size: 20px;
    border: hidden;
    width: 100%;
    margin: 20px;
}

.update__task:hover {
    outline: 1px solid rgba(0, 0, 0, 0.3)
}

.update__list {
    margin: 20px;
    /* position: relative; */
    /* left: 120px; */
    border: hidden;
}

.update__list:hover {
    outline: 1px solid rgba(0, 0, 0, 0.3);
}

.update__reps {
    margin: 20px;
    /* position: relative; */
    /* left: 120px; */
    border: hidden;
    width: auto;
}

.update__reps:hover {
    outline: 1px solid rgba(0, 0, 0, 0.3);
    /* border: 1px solid red; */
}

.update__sets {
    margin: 20px;
    /* position: relative; */
    /* left: 120px; */
    border: hidden;
    width: auto 0;
}

.update__sets:hover {
    outline: 1px solid rgba(0, 0, 0, 0.3)
}

.update__duration {
    margin: 20px;
    /* position: relative; */
    /* left: 120px; */
    border: hidden;
    width: auto;
}

.update__duration:hover {
    outline: 1px solid rgba(0, 0, 0, 0.3)
}

.update__notes {
    margin: 20px;
    position: relative;
    top: 17px;
    width: 100%;
}

/*!BUTTON HELPERS*/

.form__buttons {
    background-color: #d7e7f5;
    border: none;
    border-radius: 5px;
    color: black;
    opacity: .9;
    height: 30px;
    display: none;
    position: relative;
}

.label__positioner {}

.button__positioner {}

/*!FORM LABELS*/

#listLabel {
    position: relative;
    font-size: 13px;
    left: 14px;
    top: 16px;
    color: rgba(0, 0, 0, 0.6)
}

#repsLabel {
    position: relative;
    font-size: 13px;
    left: 14px;
    top: 16px;
    color: rgba(0, 0, 0, 0.6)
}

#setsLabel {
    position: relative;
    font-size: 13px;
    left: 14px;
    top: 16px;
    color: rgba(0, 0, 0, 0.6)
}

#durationLabel {
    position: relative;
    font-size: 13px;
    left: 14px;
    top: 16px;
    color: rgba(0, 0, 0, 0.6)
}

#notesLabel {
    position: relative;
    top: 17px;
    font-size: 20px;
}

/*!SUMMARY containers*/

.title__container {
    display: block;
    padding: 5px;
    position: relative;
    left: 10px;
    font-size: 18px;
}

.tasks__container {
    padding: 5px;
    position: relative;
    left: -64px;
    top: 40px;
    height: 50px;
    /* border: 1px solid blue; */
    border-radius: 7px;
    margin: 2px;
    background-color: #d7e7f5;
    color: #1874CD;
    font-weight: bolder;
    font-size: 19px;
    margin-left: 2px;
}

.tasks__container-title {
    font-size: 12px;
    margin: 2px;
    color: black;
}

.completed__container {
    /* display: none; */
    position: relative;
    padding: 5px;
    left: -64px;
    top: 40px;
    height: 50px;
    /* border: 1px solid blue; */
    border-radius: 7px;
    margin: 2px;
    background-color: #d7e7f5;
    font-size: 19px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.4)
}

.completed__container-title {
    font-size: 12px;
    margin: 2px;
}

/*!HIDDEN OVERDUE*/

.overdue__container {
    display: none;
    position: relative;
    padding: 5px;
    left: -40px;
    top: 40px;
    height: 50px;
    /* border: 1px solid blue; */
    border-radius: 7px;
    margin: 2px;
    background-color: #d7e7f5;
}

/* .hide {
    opacity: 0.0
} */

/*!MEDIA QUERIES*/

@media screen and (max-width: 1000px) {
    .column__container {
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-template-rows: 150px 100px;
        grid-template-areas: "list summary" "list task";
    }
    .list__column {
        grid-area: list;
    }
    .task__column {
        grid-area: task;
        height: 690px;
        min-width: 200px;
    }
    /* .summary__slideout {} */
    .summary__column {
        grid-area: summary;
        height: 150px;
        min-width: 200px;
    }
    .summary__update {
        display: none;
    }
    .footer {
        display: none;
    }
}

/*!EXTRAS*/

/*!EXTRAS*/

/*!EXTRAS*/

/* .summary__update {
    display: flex;
    height: 300px;
    flex-direction: column;
    border: 1px solid black;
    position: relative;
    top: 200px;
    left: -150px
} */

/* .footer {
    position: relative;
    top: 740px;
    padding: 1px;
    border: 1px solid blue;
    height: 20px;
} */