#div-container-1 {
  /* display: none; */
}

.list__btn--rename {
  background-color: #c8dcf1;
  /* color: whitesmoke; */
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;

}





/* color for button: */

/* background = #009dff */
/* font-color = whitesmoke */
/* font-family = "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif */


#logo {
  /* margin-top: px; */
  width: 100%;
  display: flex;
  align-self: flex-start;
  justify-content: center;

}

.logoText {
  display: flex;
  flex-direction: column;
  width: 100px;
  justify-content: center;
  align-items: flex-end;
}

.topText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  /* margin-right: 15px; */
  color: #1874CD;
  opacity: .7;
}
.bottomText {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  /* margin-left: px; */
  color: #1874CD;
  opacity: .7;
}

.whey_logo{
  height: 80px;
  width: 70px;
}
