body {
    font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.main_container {
    display: grid;
    grid-template-columns: 1fr, 1fr;
}

#main_left {
    background-color: aqua;
    grid-column-start: 1;
    max-height: 100%;
}

#main_right {
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 1fr, 3fr;

}

.btn_signup {
    width: 40px;
    height: 50px;
    grid-row-start: 1;
    justify-content: top;
    align-self: center;
}

#form-header {
    grid-row-start: 2;
    justify-content: center;
    align-items: center;
}
.signup-input {
    height: 50px;
    width: 200px;
}
