body {
    font-family: "Segoe UI",Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol"!important;
}

i {
    color: #6d6d6d;
}

#tasks-section {
    width: 100%;
}

#tasks-section > * {
    border-top: 1px dotted #e5e5e5;
    padding: 5px;
}

#tasks-section > div:first-child {
   border-top: none;
   padding-bottom: 0;
}

#tasks-section__tasks-container {
    padding: 5px 0 0 0;
}

#tasks-section__tasks-empties {
    padding: 0;
}

/* .tasks-section__utils  */

#tasks-section__utils {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#tasks-section__utils .tab {
    border: 1px dotted #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    color: #0060bf;
    z-index: 2;
    position:relative;
    padding: 3px;
    top: 1px;
}

#tasks-section__utils .tab.active {
    border-bottom: 1px solid white;
    color: black;
    font-weight: 450;
}

#tasks-section__utils  > .tab:not(:last-child) {
    border-right: none;
}

/* #tasks-section__form  */

#tasks-section__form > div {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#tasks-section__form > div {
    margin: 3px;
}

#tasks-section__form input {
    width: 100%;
    margin: 0 2px;
    border-radius: 3px;
    border: 1px solid #d0d3d6;
    padding: .5rem;
}

#tasks-section__form div:last-child {
    display: flex;
    justify-content: flex-end;
}

#tasks-section__form button {
    background-color: #2e8ceb;
    color: #fff;
    padding: 0 14px;
    border: none;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgb(0,0,0,0.8);
    margin: 0 8px 0 0;
    cursor: pointer;
    height: 32px;
}

/* .tasks-section__task  */

.tasks-section__task, .tasks-section__task-empty {
    height: 33px;
    border-bottom: 1px dotted #e5e5e5;
    border-top: 1px solid #fff;
    padding: 2px 0;


    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tasks-section__task:hover {
    background-color: #ffc;
}

.tasks-section__task.active {
    background-color: #ffc;
}

.tasks-section__task * {
    user-select: none;
}

.tasks-section__task .handle:hover {
    cursor: grab;
}

.tasks-section__task .handle:active {
    cursor: grabbing;
}

.tasks-section__task .handle {
    visibility: hidden;
    width: 17px;
    display: flex;
    justify-content: center;
}

.tasks-section__task:hover .handle {
    visibility: visible;
}

.tasks-section__task .divider {
    background-color: #ccc;
    width: 3px;
    border-radius: 1px;
    height: 27px;
}

/* #tasks-section__toolbar  */

#tasks-section__toolbar > * {
    display: inline-block;
    margin: 0 1rem;
}

#toolbar_group-2, #toolbar_group-3 {
    visibility: hidden;
}

#toolbar__uncomplete {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: .2rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 200;
}

.dropdown-content.open {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;

    display: flex;
    justify-content: space-between;
}

.dropdown-content a:hover {
    background-color: #ddd;
}


/* .button-group  */

.button-group {
    border-radius: 3px;
}

.button-group > div {
    border: 1px solid #d0d3d6;
    color: black;
    padding: .5rem;
    cursor: pointer;
    float: left;
}

.button-group > div:not(:last-child) {
    border-right: none;
}

/* Clear floats (clearfix hack) */
.button-group:after {
    content: "";
    clear: both;
    display: table;
}

.button-group > div:hover {
    background-color: #ddd;
}

/* .tooltip  */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 200;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

  /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
    visibility: visible;
}
