/* .tasks-section__task  */

.tasks-section__task * {
    display:inline-block;
    user-select: none;
}

.tasks-section__task:hover {
    background-color: #ffc;
}

.tasks-section__task.active {
    background-color: #ffc;
}

/* #tasks-section__toolbar  */

#tasks-section__toolbar > * {
    display: inline-block;
    margin: 0 1rem;
}

/* #toolbar__selector  */

#toolbar__selector {
    border: 1px solid black;
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: .2rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content.open {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* .btn-group  */

.button-group > div {
    border: 1px solid black; /* Green border */
    color: black; /* White text */
    padding: .5rem .5rem; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.button-group > div:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.button-group:after {
    content: "";
    clear: both;
    display: table;
}

.button-group > div:hover {
    background-color: #ddd;
}

/* .tooltip  */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

  /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
    visibility: visible;
}
