/* .tasks-section__task  */

.tasks-section__task * {
    display:inline-block;
    user-select: none;
}

.tasks-section__task:hover {
    background-color: #ffc;
}

.tasks-section__task .active {
    background-color: #ffc;
}

/* #tasks-section__selector  */

#tasks-section__selector {
    border: 1px solid black;
    display: inline-block;
}

#tasks-section__selector .dropdown {
    position: relative;
    display: inline-block;
}

#tasks-section__selector .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#tasks-section__selector .dropdown-content.active {
    display: block;
}

#tasks-section__selector .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
